{
  "presets": [
    [
      "next/babel", 
      { "preset-env":
        { 
          "targets": 
          { 
            "ie": 11,
          }
        }
      }
    ],
    "@emotion/babel-preset-css-prop",
  ],
  "plugins": [
    ["emotion"],
    ["babel-plugin-macros"],
    ["@babel/plugin-proposal-export-default-from"]
  ]
}
